.theme{
    --Primary-color:#196eb1;
    --Secondary-color: #D98327;
    --button-color:#D98327;
    --button-hover-color: #196eb1;
    --button-text-color: #fff;
    --button-text-hover-color: #fff;
}