.theme{
    --Primary-color:#196eb1;
    --Secondary-color: #d06e04;
    --button-color:#d06e04;
    --button-hover-color: #196eb1;
    --button-text-color: #fff;
    --button-text-hover-color: #fff;
}