.theme{
    --Primary-color:#125784;
    --Secondary-color: #000000;
    --button-color:#125784;
    --button-hover-color: #125784;
    --button-text-color: #fff;
    --button-text-hover-color: #fff;
}